<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edixe</title>
</head>
<body>
<p><ittalic>this text editor all the graphical structure can be changed</ittalic> </p>
<h1>welcome to the text editor</h1>

<h2>Edit in english language!</h2>
<br>
<button type="submit" class="btn btn-dark mt-2"><a href="english">English Text</a></button>
<br>
<h2>Edit in Nepali Language!!</h2>
<br>
<button type="submit" class="btn btn-dark mt-2"><a href="nepali">Nepali Text</a></button>
</body>
</html>